/* App.css */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #1a1a1a; /* Fundo escuro */
  color: #fff; /* Texto branco */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#root {
  width: 90%;
  max-width: 1200px;
}

